.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__title {
  margin: 0;
  line-height: 20px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  padding: 0;

  top: 28px;
  left: 20px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/closeModal.png);
  background-repeat: no-repeat;
  color: #000;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.modal__close_image {
  background-image: url(../../assets/close.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.modal__content {
  background-color: #fff;
  border-radius: 20px;
  display: flex;

  align-items: left;
  flex-direction: column;

  margin: auto;
  position: relative;
  padding: 28px 28px 28px 36px;

  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
}
.modal__submit {
  position: absolute;
  bottom: 36px;
  left: 28px;
  margin-top: 0px;
  height: 36px;
  width: 124px;
  background-color: #000;
  color: #fff;
}
.modal__label {
  margin: 20px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-left: 0;
  margin-top: 24px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  background: #fff;
}
.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 24px;
}
.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #0000;
  margin: 0;
  background-color: #fff;
}
.modal__label_type_radio {
  margin: 2px;
  display: flex;
  flex-direction: row;

  gap: 5px;
}
.modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal__legend {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}
.modal__submit:hover {
  cursor: pointer;
}
.modal__registration_label {
  margin: 0;
  display: flex;

  flex-direction: column;
  margin-left: 0;
  margin-top: 15px;
}
.modal__add_submit {
  margin-top: 20px;
  height: 36px;
  width: 124px;
  background-color: #000;
  color: #fff;
}
.modal__login_submit {
  margin-top: 20px;
  height: 36px;
  width: 124px;
  /* background-color: #000; */
  /* color: #fff; */
  /* position: relative; */
  /* margin-left: 150px; */
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
}
