.card {
  width: 323px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__profile {
  margin: 20px;
}
.card__name {
  position: absolute;
  top: 15px;
  left: 50%;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  max-width: 68px;
  text-align: center;
  transform: translateX(-50%);
  font-family: "CabinetGrotesk";
}

.card__image {
  width: 100%;
  border-radius: 30px;
}
.card__like-button {
  background-image: url("../../assets/defaultLikeButton.svg");
  width: 21px;
  height: 18px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.card__like-button-active {
  background: transparent url("../../assets/activeLikeButton.svg") center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}
.card__header {
  display: flex;
  flex-direction: row;
}
