.modal__content_type_image {
  max-height: 610px;
  height: 100%;
}

.modal__content_image {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  height: 610px;
}

.modal__footer {
  background-color: #fff;
  padding: 0 28px 28px 28px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}
.modal__delete-btn {
  font-weight: 700;
  color: #ff4d00;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  border: none;
  background-color: #fff;
  margin-top: 15px;
  right: 40px;
}
.modal__caption {
  margin-bottom: 0;
}

.modal__weather-caption {
  font-weight: 700;
  font-size: 20px;
}
.modal__weather {
  font-weight: 700;
  font-size: 20px;
}
.modal__delete-btn:hover {
  cursor: pointer;
}
