.sidebar__username {
  font-weight: 700;
  display: flex;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 20px;
}
.sidebar {
  display: flex;
  align-items: center;
}
.sidebar__data_change {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  font-weight: 700;
  white-space: nowrap;
  font-size: 20px;
}
.sidebar__logout {
  border: none;
  font-weight: 700;
  font-size: 20px;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
