.sidebar__username {
  font-weight: 700;
  display: flex;
  white-space: nowrap;
  margin-left: 10px;
}
.sidebar {
  display: flex;
  align-items: center;
}
.sidebar__data_change {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  font-weight: 700;
}
.sidebar__logout {
  border: none;
  font-weight: 700;
}
