/* .login__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__title {
  margin: 0;
  line-height: 20px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  padding: 0;

  top: 28px;
  left: 20px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/closeModal.png);
  background-repeat: no-repeat;
  color: #000;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.login__close_image {
  background-image: url(../../assets/close.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.login__content {
  background-color: #fff;
  border-radius: 20px;
  display: flex;

  align-items: left;
  flex-direction: column;

  margin: auto;
  position: relative;
  padding: 28px 28px 28px 36px;

  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  height: 436px;
}
.login__submit {
  position: absolute;
  bottom: 36px;
  left: 28px;
  margin-top: 0px;
  height: 36px;
  width: 124px;
  background-color: #000;
  color: #fff;
}
.login__label {
  margin: 20px;
  display: flex;
   
  flex-direction: column;
  margin-left: 0;
  margin-top: 24px;
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  background: #fff;
}
.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 24px;
}

.modal__submit:hover {
  cursor: pointer;
} */
